* {
    color: white;
}
.required{
    color: rgb(212, 65, 65);
    font-size: 20px;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    /* identical to box height */

    color: #303030;
}

select {
    color: black;
}

option {
    color: black;
}

.full-v {
    height: 100vh;
    width: 100%;
}

.cont {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(../img/counsel.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.m-form {
    width: 90%;
}

.section-1 {
    display: flex;
    flex-direction: column;
}

.header {
    flex-basis: 85%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(../img/counsel.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.about-header {
    height: 40vh;
}

.m-navbar {
    flex-basis: 15%;
    width: 100%;
    background-color: #116736;
}

.outlined-cta {
    height: 55px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    cursor: pointer;
    transition: .25s;
    font-weight: 500;
}

.outlined-cta:hover {
    background-color: white;
    color: #116736;
}

.borderless-btn {
    background-color: transparent;
    border: 0;
    transition: .25s;
    color: white;
    font-weight: 400;
}

.borderless-btn:hover {
    color: rgb(174, 174, 174);
}

.section-services {
    background-color: #F3F3F3;
    padding: 60px 100px;
}

.service {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #303030;
}

.check {
    margin-right: 10px;
    height: 50px;
}

.services-list {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.li-item {
    margin-top: 20px;
}

.section-aboutus {
    background-color: #EBF9F7;
    display: flex;
    flex-direction: row;
    padding: 0 100px;
}

.abt-us-r1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.abt-us-r2 {
    flex-basis: 50%;
}

.mt-m {
    margin-top: 100px;
}

.read-more {
    width: 193px;
    height: 60px;
    background: #116736;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: .25s;
    cursor: pointer;
}

.read-more:hover {
    background: #1a934e;
}

.section-contactus {
    background-color: #F6F6F6;
    padding: 0 100px;
}

.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #303030;
}

.scroll-top {
    object-fit: contain;
    height: 60px;
    cursor: pointer;
}

.top-bar {
    height: 100px;
    background: #1a934e;
    width: 100%;
    display: flex;
    align-items: center;
}

.top-bar-img {
    height: 60px;
    margin: 0 30px;
}

.top-bar-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-right: 30px;
    color: #FFFFFF;
}

.cen-title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    color: #303030;
    padding: 0 20px;
}

.m-label {
    color: #116736;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
}

.m-input {
    width: 450px;
    height: 45px;
    color: black;
    padding: 0 20px;
    background: #d8d8d8;
    border-radius: 5px;
    border: none;
}

.submit {
    margin-top: 20px;
    width: 450px;
    height: 45px;
    color: white;
    padding: 0 20px;
    background: #FFAA01;
    border-radius: 5px;
    border: none;
    transition: .25s;
}

.submit:hover {
    background: #d49007;
}

.info-title {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #116736;
}

.info-value {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #0C0C0C;
}

.hide{
    display: none;
}
.reg-forms-col-1{
    margin-right: 50px ;
}

@media only screen and (max-width: 600px) {

    .reg-forms{
        flex-direction: column;
        align-items: center;
    }
    .reg-forms-col-1{
        margin-right: 0px;
    }
    .reg-forms-col-2{
        margin-top: 20px;
    }

    .header .s1{
        padding-top: 0px;
        flex-direction: column !important;
    }

    .header h1{
        margin-top: 15px;
        font-size: 25px !important;
        text-align: center;
    }

    .header h5{
        margin-top: 10px;
        font-size: 20px !important;
        font-weight: 300;
        text-align: center;
    }

    .container-fluid .top-bar-title {
        font-size: 15px;
        line-height: 15px;
        margin-left: 0px !important;
    }

    .collapse ul{
        margin-right: 0 !important;
        margin-left: auto !important;
    }

    .cen-title {
        font-weight: 600;
        font-size: 18px;

    }

    .m-input {
        width: 90vw;
        height: 40px;
    }

    .submit {
        width: 90vw;
        height: 40px;
    }
    .service {
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
    
        color: #303030;
    }

    .m-navbar .x1{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    .m-navbar .xt{
        margin: unset  !important;
    }

    .m-navbar .xt:not(:last-child){
        margin-bottom: 20px  !important;
    }
    
    .check {
        margin-right: 10px;
        height: 50px;
    }
    
    .section-services{
        padding: 50px 20px;
        height: fit-content;
    }

    .services-list {
        list-style: none;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;

        margin: 0;
        padding: 0;
    }
    .section-aboutus{
        height: unset;
        padding:10px 30px 50px 30px;
    }
    .section-aboutus .s1{
        padding-top: 50px;
        flex-direction: column-reverse !important;
    }

    .section-contactus{
        height: unset;
        padding: 50px 0;
    }
    .section-contactus .s1{
        padding-top: 0;
        flex-direction: column !important;
    }

    .abt-us-r1, .abt-us-r2{
        flex-basis: unset;
    }

    .abt-us-r2 .s1{
        padding-top: 0;
        margin-top: 0;
    }
    .s1{
       
        padding-top: 50px;
        flex-direction: column !important;
    }

   .t1{
        font-size: 30px;
    }
   .t2{
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {

}
